* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dcdcdc;
}

.header-menu {
    background: #202846;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;

}

.head-img-logo {
    padding-right: 252px;
    padding-left: 138px;
    width: 198px;
    height: 90px;
}

.head-nav {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #fff;
}

.head-nav-iteam {
    display: inline-block;
    padding: 10px 20px;
    border-right: 3px solid #ccc;
}

.head-nav-iteam:last-child {
    border-right: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.head-img-lang {
    width: 60px;
    height: 60px;
}

.head-button {
    background: transparent;
    /* Прибирає фон */
    border: none;
    /* Прибирає рамку */
    color: #fff;
    /* Залишає колір тексту від батьківського елемента */
    padding: 10px 20px;
    /* Внутрішні відступи */
    cursor: pointer;
    /* Змінює курсор на вказівник */
    font-size: 22px;
    font-weight: 700;
}

/* Content-image */
.cont-one {
    display: inline-block;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-img-one {
    padding-top: 40px;
    width: 1488px;
    height: 369px;
}

.cont-text-h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 75px;
    text-align: center;
    color: #fff;
}

.cont-text-h3 {
    white-space: nowrap;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #fff;
}

.cont-two {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: fit-content;
}

.cont-img-two {
    padding-top: 40px;
    width: 1488px;
    height: 604px;
}

.cont-link {
    margin-left: 932px;
    margin-bottom: 144px;
    position: absolute;
    font-weight: 400;
    font-size: 24px;
    color: #fff;
    background-color: #202846;
    padding: 16px;
    border-radius: 32px;
    z-index: 1;

}

.cont-text-two {
    position: absolute;
    width: 1024px;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #202846;
    background: rgba(255, 255, 255, 0.8);
    padding: 48px;
}

.cont-ag {
    margin: 0 auto;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1488px;
    height: 412px;
    background: rgba(193, 193, 195, 0.9);
}

.cont-img-ag {
    margin-right: 24px;
    width: 698px;
    height: 348px;
}

.cont-text-ag {
    padding: 128px 68px 132px 68px;
    top: 28px;
    right: 28px;
    width: 564px;
    font-weight: 400;
    font-size: 26px;
    color: #202846;
    background: rgba(234, 234, 235, 0.7);
    text-align: center;
}

/* Cont-feedbeak */
.cont-feedback {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid rgba(170, 170, 170, 0.2);
    background: #f2eeee;
    width: 518px;
    height: 481px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.cont-titl-feed {
    margin-top: 26px;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    color: #414141;
}

.cont-name-feed {
    text-align: left;
    padding: 20px;
    font-weight: 400;
    font-size: 26px;
    color: #323236;
    width: 85%;
}

.cont-input-name-feed {
    border: 2px solid #90a4ae;
    padding: 12px 24px;
    width: 400px;
    height: 36px;
    background-color: #fff
}

.cont-contact-feed {
    text-align: left;
    padding: 20px;
    font-weight: 400;
    font-size: 26px;
    color: #323236;
    width: 85%;
}

.cont-input-contact-feed {
    border: 2px solid #90a4ae;
    padding: 12px 24px;
    width: 400px;
    height: 36px;
    background-color: #fff
}

.cont-but-feed {
    justify-content: flex-end;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-top: 48px;
    font-size: 32px;
    color: #fff;
    background: #444765;
    width: 518px;
    height: 104px;
}

.cont-footer {
    width: 100%;
    height: 90px;
    background: #202846;
}

.cont-footer-txt {
    display: block;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    text-align: left;
    padding: 30px 0px 20px 80px;
    color: #eeecf1;
}